
<div class="pizza-creator">
        Customize your gift
        <button class="button" type="button" (click)="addGift()">
          <i class="fa fa-plus"></i>
          Add pizza
        </button>
     
</div>

<div class="row">
  
		<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default active" style=" margin-right: 60px;">
    <input type="radio" name="options" id="option1" autocomplete="off" checked="">small
  </label>
  <label class="btn btn-default" style=" margin-right: 60px;">
    <input type="radio" name="options" id="option2" autocomplete="off"> medium
  </label>
  <label class="btn btn-default">
    <input type="radio" name="options" id="option3" autocomplete="off"style="padding: 30px;"> large
  </label>
</div>
</div>


          <app-gift-combo >
            
          </app-gift-combo>

